{% load static %}
<!-- Carrega a tag "static" do Django, usada para inserir arquivos estáticos, como CSS, imagens ou JavaScript. -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Define o documento como HTML5 e especifica o idioma como português do Brasil -->
    <meta charset="UTF-8">
    <!-- Configura o viewport para responsividade em dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Moeda</title>
    <!-- Link para o arquivo CSS que estiliza a página. O caminho usa a tag "static" do Django para localizar o arquivo -->
    <link rel="stylesheet" href="{% static 'conversor/css/styles.css' %}">

    <!-- Importando fontes do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Garante que o navegador faça uma conexão antecipada com os servidores do Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Link para as fontes "Lexend" e "Roboto", usadas no design da página -->
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Título principal da página -->
        <h1>Conversor de Moeda</h1>
        <!-- Mensagem introdutória para o usuário -->
        <p>Insira o valor e escolha o tipo de conversão.</p>
        <!-- Formulário que envia os dados para o servidor usando o método POST -->
        <form method="post">
            {% csrf_token %}
            <!-- Gera um token CSRF para proteger o formulário contra ataques de falsificação -->
            {{ formulario.as_p }}
            <!-- Renderiza o formulário definido no backend como parágrafos HTML -->
            <button type="submit">Converter</button>
            <!-- Botão para enviar os dados do formulário -->
        </form>

        {% if resultado_conversao %}
            <!-- Exibe o resultado da conversão de moeda, se disponível -->
            <div class="resultado">
                {{ resultado_conversao }}
            </div>
        {% endif %}

        {% if cotacao %}
            <!-- Exibe a cotação atual do dólar, se estiver disponível -->
            <p class="cotacao" style="margin-top: 20px;">Cotação atual do dólar: <strong>{{ cotacao }}</strong></p>
        {% endif %}
    </div>
    <footer>
        <!-- Rodapé da página com o crédito do desenvolvedor -->
        Desenvolvido por Alleart
    </footer>
</body>
</html>
